In [4]:
import pandas as pd
import numpy as np

In [5]:
s=pd.Series([7,15,4,4,7,4],index=['r1','r2','r3','r4','r5','r6',])
s

r1     7
r2    15
r3     4
r4     4
r5     7
r6     4
dtype: int64

In [6]:
s.r2

np.int64(15)

In [7]:
s[1]

/tmp/ipykernel_45233/878419959.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1]

np.int64(15)

In [8]:
s.values

array([ 7, 15,  4,  4,  7,  4])

In [9]:
s.index

Index(['r1', 'r2', 'r3', 'r4', 'r5', 'r6'], dtype='object')

In [10]:
s.value_counts()

4     3
7     2
15    1
Name: count, dtype: int64

In [11]:
df=pd.DataFrame([[1,2],[3,4],[5,6],[7,8]],index=['r1','r2','r3','r4'],columns=['c1','c2'])
df

    c1  c2
r1   1   2
r2   3   4
r3   5   6
r4   7   8

In [12]:
df[1:3]

    c1  c2
r2   3   4
r3   5   6

In [13]:
df['c2']

r1    2
r2    4
r3    6
r4    8
Name: c2, dtype: int64

In [14]:
df.iloc[2,1]

np.int64(6)

In [15]:
df.values

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [16]:
df[df<5
]

     c1   c2
r1  1.0  2.0
r2  3.0  4.0
r3  NaN  NaN
r4  NaN  NaN

In [17]:
df.head(3)

    c1  c2
r1   1   2
r2   3   4
r3   5   6

In [18]:
df.tail(1)

    c1  c2
r4   7   8

In [19]:
df.index

Index(['r1', 'r2', 'r3', 'r4'], dtype='object')

In [20]:
df.columns

Index(['c1', 'c2'], dtype='object')

In [21]:
df.T

    r1  r2  r3  r4
c1   1   3   5   7
c2   2   4   6   8

In [22]:
df.drop('r3',axis=0)

    c1  c2
r1   1   2
r2   3   4
r4   7   8

In [24]:
df.drop('c2',axis=1)

    c1
r1   1
r2   3
r3   5
r4   7

In [25]:
df.describe()

             c1        c2
count  4.000000  4.000000
mean   4.000000  5.000000
std    2.581989  2.581989
min    1.000000  2.000000
25%    2.500000  3.500000
50%    4.000000  5.000000
75%    5.500000  6.500000
max    7.000000  8.000000